.col-header {
    margin-top: 20px;
    margin-bottom: 15px;
}

.col-header-icon {
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-header-logo {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}