.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin-top: 5px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.btn.btn-outline-easyfood {
  --bs-btn-color: #8d2989;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #8d2989;
  --bs-btn-hover-color: #8d2989;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #8d2989;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #881e83;
  --bs-btn-active-bg: #8d2989;
  --bs-btn-active-border-color: #8d2989;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #8d2989;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8d2989;
  --bs-gradient: none;
}

.btn.btn-easyfood {
  --bs-btn-color: #fff;
  --bs-btn-bg: #881e83;
  --bs-btn-border-color: #881e83;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #881e83;
  --bs-btn-hover-border-color: #881e83;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #881e83;
  --bs-btn-active-border-color: #881e83;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #881e83c2;
  --bs-btn-disabled-border-color: #881e83c2;
}